@font-face {
    font-family: 'Lato-Black';
    src: url(./fonts/Lato-Black.ttf);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.navigation{
height: 75px;
background: #222222;
display: flex;
justify-content: space-between;
align-items: center;

}



.button_top{
    border: none;
    background: none;
}

.button_top-1{
    border: none;
    background: none;
}

.first_div{
    display: flex;
    gap: 41px;
    align-items: center;
    padding: 0 231px;
}

.second_div{
    display: flex;
    gap: 33px;
    padding: 0 240px;
    
}

.big_container{
background: #F1E4E6;
display: flex;
align-items: center;
margin-bottom: 65px;
}

.left_container{
    width: 800px;
}

.big_container_text{
    display: flex;
    gap: 16px;
}

.border{
    width: 12px;
height: 92px;
background: #F16D7F;
}

.big_container_text_h1{
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
font-size: 48px;
line-height: 57.6px;
}

.big_container_text_h3{
font-weight: 700;
line-height: 38.4px;
font-family: "Lato", sans-serif;
font-style: normal;
display: flex;

}

.text{
    display: flex;
    flex-direction: column;
}

.fashion{
    color: #F16D7F;


}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.first_div_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 96px;
}

.big_card{
    grid-column: span 3;
    height: 180px;
}

.card{
    width: 360px;
height: 260px;
background-size: cover;
}

.blackout{
    background-color: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blackout h4 {
    font-family: Lato;
font-size: 24px;
font-weight: 700;
line-height: 28.8px;
text-align: center;
color: #F16D7F;

}

.blackout h3{
    font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
text-align: center;
color: #FFFFFF;

}

.class_h3{
    font-family: Lato;
font-size: 30px;
font-weight: 400;
line-height: 36px;
margin-bottom: 6px;
}

.class_p{
    font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
color: #9F9F9F;
margin-bottom: 48px;
}

.second_div_card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 32px;
}

.bottom_cards{
    background: #F8F8F8;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    height: 581px;

}

.bottom_cards_black{
    display: block;
    position: relative;
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    color: #fff;
    transition: opacity .4s linear
}

span:hover {
    opacity: 1;
}

/**.bottom_cards-image:hover{
    -webkit-filter: brightness(60%);
    transition: all 0.3s ease;
    background-image: url(./image/Hover.png);
}**/

.price_and_tittle{
    width: 314.74px;
height: 116.65px;
margin-bottom: 20px;
}

.bottom_cards_h4{
    font-family: Lato;
font-size: 13px;
font-weight: 400;
line-height: 15.6px;
text-align: left;
color: #000000;
margin-bottom: 16px;
padding: 25px 0 0 18px;
}

.bottom_cards_p{
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
text-align: left;
color: #5D5D5D;
margin-bottom: 18px;
padding: 0 28px 0 16px;
}

.bottom_cards_price{
    font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
text-align: left;
color: #F16D7F;
margin-bottom: 20px;
padding:  0 0 0 18px;
}

.bottom_button{
    width: 212px;
    height: 48px;
    color: #F26376;
    border: 1px solid #FF6A6A;
margin-bottom: 60px;
background-color: white;
}

.bottom_button_text{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    
}

.big_container_down{
    background: #222224;
    height: 341px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.big_container_down__card{
    width: 360px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big_container_down__card img{
    margin-bottom: 25px;
}

.big_container_down__card h1{
    font-family: Lato;
    font-size: 19.96px;
    font-weight: 400;
    line-height: 23.95px;
    color: #FBFBFB;
    margin-bottom: 16px;

}

.big_container_down__card p{
    font-family: Lato;
font-size: 13.97px;
font-weight: 400;
line-height: 16.77px;
text-align: center;
color: #FBFBFB;

}

.middle_footer{
    background: url(./image/photo_subscribe.svg);
    background-position: center;
    background-size: cover;
height: 448px;
display: flex;
justify-content: space-around;
align-items: center;


}

.middle_footer__h1{
    font-family: Lato;
font-size: 24px;
font-weight: 700;
line-height: 40.13px;
text-align: center;
}

.middle_footer__h3{
    font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30.1px;
text-align: center;
margin-bottom: 32px;

}

.middle_footer__girl{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 359.45px;
height: 225px;
gap: 30px;

}

.middle_footer__girl-p{
    font-family: Lato;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: center;
color: #222224;

}

.middle_footer__input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 557px;
height: 142px;

}

.middle_footer__form{
    width: 356px;
height: 49px;
display: flex;
}

.form_input{
    width: 256px;
height: 49px;
background: #E1E1E1;
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
text-align: center;
border-radius: 20px 0 0 20px;
border: none;
}

.button_input{
    width: 100px;
height: 49px;
background: #F16D7F;
border: none;
border-radius: 0 20px 20px 0;
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
text-align: center;
color: #FFFFFF;

}

.bottom_footer{
    height: 79px;
    background: #222224;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom_footer__text{
height: 19px;
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
text-align: left;
color: #FBFBFB;
}

.socialIcon{
    width: 147.66px;
height: 32px;
gap: 7.30px;
}

.socialIcon_button{
    width: 31.45px;
height: 32px;
background: #FFFFFF;

}

.socialIcon_button:hover{
    border: 3px solid;
    border-color: blue;
}

.socialIcon_button-a{
    display: flex;
    justify-content: center;
}

@media(min-width:768px) and (max-width:1140px){
    .container{
        max-width: 1140px;
    }

    

    .navigation{
        max-width: 1140px;
        gap: 424px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .first_div{
        padding:0;
    }
        
    .second_div{
        padding: 0; 
    }    

    .big_card{
        height: 116.04px;
    }

    .second_div_card{
        max-width: 768px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 48px;
    }   
    
    .big_container{
        max-width: 1140px;
        background: #F1E4E6;
        display: flex;
        align-items: center;
        margin-bottom: 65px;
        }

        .big_container_text_h1{
            font-family: Lato;
            font-size: 44px;
            font-weight: 900;
            line-height: 52.8px;
            text-align: left;

        }
        
        .big_container_text_h3{
            font-family: Lato;
            font-size: 24px;
            font-weight: 700;
            line-height: 28.8px;
            text-align: left;
        }

    .first_div_cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 19px;
        margin-bottom: 110px;
    }

    .menchic{
        width: 386px;
        height: 368px;

    }

    .card{
        width: 232.33px;
        height: 167.62px;
        
    }

    .class_h3{
    
        margin-bottom: 3px;
    }
    
    .class_p{
    
        margin-bottom: 72px;
    }

    .bottom_button{
        margin-bottom: 70px;
    
    }

    .big_container_down {
        background: #222224;
        display: flex;
        flex-direction: column;
        height: 610px;
        gap: 48px;
    }

    .middle_footer{
        background: url(./image/photo_subscribe.svg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 48px;
        height: 693px;
    }

    .bottom_footer{
        height: 79px;
        background: #222224;
        display: flex;
        justify-content: space-between;
        padding: 0 32px 0 32px;
    }


}

@media(max-width:767px){


    .button_top{
        display: none;;
    }



    .first_div{
        padding: 0 16px;
    }

    .second_div{
        padding: 0 16px;
    }
    
    img {
        max-width: none;
    }
    

    .second_div_card{
        max-width: 343px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 40px;
    }   
    
    .big_container{
        
        background: #F1E4E6;
        display: flex;
        align-items: center;
        margin-bottom: 65px;
        justify-content: center;
        height: 363px;
    }

    .big_container_text_h1{
        font-family: Lato;
        font-size: 38px;
        font-weight: 900;
        line-height: 45.6px;
        text-align: left;
    }
        
    .big_container_text_h3{
        font-family: Lato;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
    }

    .first_div_cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        margin-bottom: 64px;
    }

    .menchic{
        display: none;

    }

    .card{
        width: 344px;
        height: 249px;
    }

    .class_h3{
    
    margin-bottom: 3px;
    }
    
    .class_p{
    
    margin-bottom: 64px;
    }

    .big_card{
        width: 343.26px;
        height: 111px;

    }

    .bottom_button{
        margin-bottom: 85px;
    
    }

    .big_container_down {
        background: #222224;
        display: flex;
        flex-direction: column;

        height: 610px;


        gap: 47px;
    }

    .middle_footer{
        background: url(./image/photo_subscribe.svg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 58px;
        height: 693px;
    }

    .bottom_footer{
        background: #222224;
        display: flex;
        flex-direction: column-reverse;
        height: 143px;
        gap: 40px;
        justify-content: flex-start;
        
    }

    .middle_footer__input{
        width: 341px;
        height: 123.08px;


    }

    .middle_footer__h3{
        font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 21.45px;
text-align: center;

    }
}

